* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    outline:none;
}
.main-container {
    background: linear-gradient(233.1deg, #216190 19.65%, #0834D0 81.25%);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1000px;
}
