
.file_input {
    display: none;
}
.file_container {
    display: flex;
    justify-content: space-between;
    border: 0.65015px solid rgba(51,51,51, .2);
    box-sizing: border-box;
    border-radius: 10px;
    height: 48px;
    width: 100%;
    padding: 0 24px;
}
.file_input_label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    cursor: pointer;
}
.file_input_label svg {
    margin-right: 16px;
}
.count_files {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    color: #A7A7A7;
}
@media (max-width: 480px) {
    .file_container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 0.65015px solid rgba(51,51,51, .2);
        box-sizing: border-box;
        border-radius: 10px;
        height: 80px;
        width: 90%;
        margin: 0 5%;
        padding: 0 10px;
    }
}